<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [1]:

y = 40
y = y + 2
print(y)

42

### 1.2 Shorter and cleaner

In [2]:
y = 40
y += 2    # Same as y = y + 2
y

42

### 1.3 Asking questions

In [4]:

fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]

"apple" in fruits

True

In [8]:
fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]

"peach" in fruits

False

In [11]:
'apples' > 'oranges'

False

### 1.4 There is more to if

In [14]:
name = 'Natalie'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello World!

### 1.5 Python stores information in different formats or types.

In [15]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

In [16]:
x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

In [17]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [18]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

In [20]:
x = '1.234'
print(x, type(x))

x = float(x)
print(x, type(x))

1.234 <class 'str'>
1.234 <class 'float'>

### 1.6 Combining English and variables

In [21]:

name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [22]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [24]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

print(f'{text:>30}')      # A block of 30 characters; aligned right
print(f'{text:^30}')      # A block of 30 characters; aligned centre
print(f'{text:<30}')      # A block of 30 characters; aligned left

Bruce Wayne is Batman.
        Bruce Wayne is Batman.
    Bruce Wayne is Batman.
Bruce Wayne is Batman.

In [25]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

NameError: name 'np' is not defined

### 1.7 Python can be a prima-donna.

In [ ]:

# Your code here

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

# Your code here

### 2.2 Getting help.

In [ ]:

# Your code here

## Exercise 1 :  Bias for some heroes

In [29]:
def hello(name):
    
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")

hello ("Batman")

Hello BATMAN!

In [30]:
def hello(name):
    
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")
hello ("Black Widow")

Hello BLACK WIDOW!

In [31]:
def hello(name):
    
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")
hello ("Aqua Man")

Hello aqua man!

In [11]:
def hello(name):
    
    if name == "Batman" or name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")
hello ("Batman")

Hello BATMAN!

In [12]:
def hello(name):
    
    if name == "Batman" or name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")
hello ("Black Widow")

Hello BLACK WIDOW!

In [34]:
def hello(name):
    
    if name == ("Batman") or name == ("Black Widow"):
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")
        
hello ("aqua man")

Hello aqua man!

## Exercise 2 :  Bias for some heroes, continues

In [43]:
def hello(name):
    name = name.upper()
    if name == "BATMAN":
        print(f"Hello {name.upper()}!")
    elif name == "BLACK WIDOW":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")

hello ("BaTman")

Hello BATMAN!

In [44]:
def hello(name):
    name = name.lower()
    if name == "batman":
        print(f"Hello {name.upper()}!")
    elif name == "black widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")

hello ("BaTman")

Hello BATMAN!

## Exercise 3 :  Look for help to replace

In [45]:
string = "The Joker lives in Gotham City."
new_string = string.replace("Joker", "Batman")

print(string)
print(new_string)

The Joker lives in Gotham City.
The Batman lives in Gotham City.